{% extends 'base/_base.html' %}
{% block title %} Item Category {% endblock %}
{% block content %}

<div class="card-text">
    <p>
        <button type="button" class="btn btn-outline-primary box-shadow-3" id="btn-new" data-url="{% url 'itemcategory_create' %}">
          <span class="fa fa-plus"></span>
          New Item Category
        </button>
      </p>
  </div>
<div>
  <table class="table table-hover table-responsive" id="table">
    <thead>
      <tr>
        <th>Sl#</th>
        <th>Category Title</th>
        <th>Category Title Bangla</th>
        <th>Category Code</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {% include 'itemcategory/includes/partial_itemcategory_list.html' %}
    </tbody>
  </table>
</div>  
<!-- THE MODAL WE WILL BE USING -->
<div class="modal animated fadeInDown" id="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
  </div>
    {% endblock %}
    {% block javascript %}
    <script>
    //localStorage.setItem('activeMenu', 'Item Category');
    datatableDeclare();
    </script>
    {% endblock %}