{% extends 'base/_base.html' %}
{% block title %} Item Brand {% endblock %}
{% block content %}

<div class="card-text">
    <p>
        <button type="button" class="btn btn-outline-primary box-shadow-3" id="btn-new" data-url="{% url 'itembrand_create' %}">
          <span class="fa fa-plus"></span>
          New Item Brand
        </button>
      </p>
  </div>
<div>
  <table class="table table-hover table-responsive" id="table">
    <thead>
      <tr>
        <th>Sl#</th>
        <th>Brand Name</th>
        <th>Brand Name Bangla</th>
        <th>Brand Code</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {% include 'itembrand/includes/partial_itembrand_list.html' %}
    </tbody>
  </table>
</div>  
<!-- THE MODAL WE WILL BE USING -->
<div class="modal animated fadeInDown" id="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
  </div>


    {% endblock %}
    {% block javascript %}
    <script>
    //localStorage.setItem('activeMenu', 'Item Brand');
    datatableDeclare();
    </script>
    {% endblock %}