<div class="modal-header">
    <h4 class="modal-title">Create A New Item Brand</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form method="post" data-parsley-validate action="{% url 'itembrand_create' %}" class="form form-horizontal" id="form-itembrand" autocomplete="off">
            {% csrf_token %}
        {% include 'itembrand/includes/partial_itembrand_form.html' %}
        <!-- <input type="submit" class="btn btn-outline-success box-shadow-3" id="btn-save2" value="Create brand"/> -->
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-warning box-shadow-3" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-outline-success box-shadow-3" id="btn-save">Create Brand</button>
</div>