{% for obj in objs %}
  <tr class="tblRow">
    <td>{{ forloop.counter }}</td>
    <td>{{ obj.itembrand_name }}</td>
    <td>{{ obj.itembrand_name_bangla|default_if_none:'' }}</td>
    <td>{{ obj.itembrand_code|default_if_none:'' }}</td>
    <td>{{ obj.IsActive }}</td>
    <td style="display: flex;">
      <button type="button"
              class="btn btn-outline-warning btn-sm btn-edit"
              data-url="{% url 'itembrand_update' obj.id %}">
        <span class="fa fa-pencil-square-o"></span> 
      </button>
      <button type="button"
              class="btn btn-outline-danger btn-sm btn-delete"
              data-url="{% url 'itembrand_delete' obj.id %}">
        <span class="fa fa-trash-o"></span> 
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="6" class="text-center bg-warning" style="display: table-cell;">No Item Brand</td>
  </tr>
{% endfor %}
