{% extends 'base/_base.html' %}
{% block title %} Unit of Measure (UOM) {% endblock %}
{% block content %}

<div class="card-text">
    <p>
        <button type="button" class="btn btn-outline-primary box-shadow-3" id="btn-new" data-url="{% url 'uom_create' %}">
          <span class="fa fa-plus"></span>
          New UOM
        </button>
      </p>
  </div>
<div>
  <table class="table table-hover table-responsive" id="table">
    <thead>
      <tr>
        <th>Sl#</th>
        <th>Unit Basis Name</th>
        <th>Uom Name</th>
        <th>Uom Short Name</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {% include 'uom/includes/partial_uom_list.html' %}
    </tbody>
  </table>
</div>  
<!-- THE MODAL WE WILL BE USING -->
<div class="modal animated fadeInDown" id="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-lg modal-dialog">
    <div class="modal-content">
    </div>
  </div>
  </div>
    {% endblock %}
    {% load static %}
    {% block javascript %}
    <script src="{% static 'appScripts/uom.js' %}"></script>
    <script>
    //localStorage.setItem('activeMenu', 'Unit of Measure');
    
    </script>
    
    {% endblock %}