{% extends 'base/_base.html' %}
{% block title %} Item Group {% endblock %}
{% block content %}

<div class="card-text">
  <p>
      <button type="button" class="btn btn-outline-primary box-shadow-3" id="btn-new" data-url="{% url 'itemGroup_create' %}" >
        <!--  -->
        <span class="fa fa-plus"></span>
        New Item Group
      </button>
    </p>
</div>
<div>
<div class="table-responsive"> 
  <table class="table table-hover" id="table">
    <thead>
      <tr>
        <th>Sl#</th>
        <th>Group Title</th>
        <th>Group Short</th>
        <th>Is Active</th>
        <th>Created Date</th>
        <th>Action</th>
        
      </tr>
    </thead>
    <tbody>
      {% include 'ItemGroup/includes/partial_itemGroup_list.html' %}
    </tbody>
  </table>
</div> 
</div>  
<!-- THE MODAL WE WILL BE USING -->
<div class="modal animated fadeInDown" id="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
  </div>
{% endblock %}
{% block javascript %}
    <script>
    //localStorage.setItem('activeMenu', 'Item Color');
    $(document).ready(function(){
    if($('#table tbody .tblRow').length>0){
        datatableDeclare();
    }
}); 
    </script>
    {% endblock %}
