{% extends 'base/_base.html' %}

{% block content %}

<div class="card-text">
  <p>
      <button type="button" class="btn btn-outline-primary box-shadow-3"  data-toggle="modal" data-target="#modal">
        <span class="fa fa-plus"></span>
        New Item Group
      </button>
    </p>
</div>
<div>
<table class="table table-hover table-responsive" id="table">
  <thead>
    <tr>
      <th>Sl#</th>
      <th>Group Title</th>
      <th>Group Short</th>
      <th>Action</th>
      
    </tr>
  </thead>
  <tbody>
      {% for obj in object_list  %}
          <tr>
              <td>1</td>
              <td>{{obj.ItemGroupName}}</td>
              <td>{{obj.GroupShortName}}</td>
              <td><button type="button"
                class="btn btn-outline-warning btn-sm btn-edit"
                data-url="{% url 'update' obj.id %}">
          <span class="fa fa-pencil-square-o"></span> 
        </button>
        <a href="{% url 'update' obj.pk %}">
          asd
        </a>
      </td>
          </tr>
      {%endfor%}
  </tbody>
</table>
</div>  
<!-- THE MODAL WE WILL BE USING -->
<div class="modal animated fadeInDown" id="modal" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog">
  <div class="modal-content">
      <!-- } -->
      {% include 'ItemGroup/include/partial_itemGroup_create.html' with masterForm=masterForm %}
  </div>
</div>
</div>
{% endblock %}
{% load static %}
{% block javascript %}
<script>


  // $("#btn-new").click(loadForm);
  $('#table').DataTable({
      bAutoWidth: true,
      responsive: true,
      lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
      //order: [[ 1, "asc" ]],
      dom: 'Bflrtip',
      buttons: {
          dom: {
              button: {
                  className: 'btn btn-outline-primary'
              }
          },
          buttons: [
              'copy', 'csv', 'excel', 'pdf', 'print'
          ]
      }
  });
  $('.dt-buttons').addClass('datatable_button');
  $('.dataTables_filter').addClass('datatable_filter');
  $('.dataTables_length').addClass('datatable_length');
</script>

{% endblock %}