{% extends 'base/_base.html' %}
{% block title %} Item Color {% endblock %}
{% block content %}

<div class="card-text">
    <p>
        <button type="button" class="btn btn-outline-primary box-shadow-3" id="btn-new" data-url="{% url 'itemcolor_create' %}">
          <span class="fa fa-plus"></span>
          New Item Color
        </button>
      </p>
  </div>
<div>
  <table class="table table-hover table-responsive" id="table">
    <thead>
      <tr>
        <th>Sl#</th>
        <th>Color Name</th>
        <th>Color Name Bangla</th>
        <th>Color Code</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {% include 'itemcolor/includes/partial_itemcolor_list.html' %}
    </tbody>
  </table>
</div>  
<!-- THE MODAL WE WILL BE USING -->
<div class="modal animated fadeInDown" id="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
  </div>
    {% endblock %}
